:root {
    --primary-color: rgb(93, 149, 203);
    --secondary-color: rgb(83, 127, 53);
    --accent-color: #fff;
    --primary-color-transparent: rgba(93, 149, 203, 0.5);
    --secondary-color-transparent: rgb(83, 127, 53, 0.75);
    --accent-color-transparent: rgba(255, 255, 255, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


h1 {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1.5rem;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1rem solid var(--secondary-color);
}

.hero img {
    width: 100%;
    height: auto;
}

h2 {
    padding: 1rem;
}

.articles {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weather img {
    padding-bottom: 1rem;
    width: 100px;
}

article:first-of-type {
    border-bottom: 1px solid var(--primary-color-transparent);
    padding-bottom: 2rem;
}

.key-value-list {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem 1rem;
    justify-content: center;
}

.key-value-list dt {
    font-weight: bold;
    text-align: right;
}

.key-value-list dd {
    margin: 0;
    text-align: left;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 2rem;
    text-align: center;
    margin-top: auto;
}