@media (min-width: 800px) {
    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    .articles img {
        display: none;
    }

    .weather h2::after {
        content: " ⛅";
    }

    .hero {
        position: relative;
    }

    .hero-img {
        display: block;
        width: 100%;
        height: fit-content;
        padding-bottom: 10px;
    }

    .articles {
        padding: 2rem;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    article {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--accent-color-transparent);
    }

    article h2 {
        padding-left: 0;
        margin-bottom: 1rem;
        color: var(--accent-color);
        background-color: var(--secondary-color);
        box-shadow: -2rem 0 0 0 var(--secondary-color);
    }

    .data {
        align-self: flex-start;
    }

    .weather {
        align-self: flex-end;
    }
}