:root {
    --primary-color: #333333;
    --secondary-color: #000000;
    --accent-color: #ffffff;
    --background-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    display: grid;
	padding: 1rem;
}

#menu {
	font-size: 1.5rem;
	border: 0;
    background: none;
	color: var(--accent-color);
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	background-color: var(--primary-color);
	color: var(--accent-color);
}

.navigation a {
    display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    font-weight: 700;
}

.open a {
	display: block;
}

main {
    max-width: 800px;
    margin: 1rem auto;
}

h2 {
    text-align: center;
}

.temples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

img {
    width: 100%;
    height: auto;
    margin: .5rem;
}

figcaption {
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
}